.cart-Container{
    height: 77.3vh;
}
.cartWidth{
max-width: 900px;
min-width: 400px;
max-height: 200px;
}
.pDetWid{
    min-width: 330px;
    height: 300px;
}
.padTob{
    padding: 15px 0;
}
.maxWidth{
    max-width:  1500px;
    margin: auto;
}
.rltPos{
    position: relative;
}
@media screen and (max-width:950px) {
    .maxWidth{
        flex-direction: column;
    }
    .cartWidth{
flex-direction: column;
max-width: 400px;
min-width: 290px;
max-height: 600px;
justify-content: center;
align-items: center;
}
}